
body{
	background-color:   #232103;
}

img{
  width:250px;
  height:250px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

div.myport{
	text-align:center;
	font-family:'Jokerman';
	font-size: 35px;
	text-decoration:underline;
	 color:yellow;
	 -webkit-animation: rightThenLeft 1.5s linear infinite;
}
@-webkit-keyframes rightThenLeft {
    0%   {margin-left:0%;}
    50%  {margin-right:50%;}
    100% {margin-left:0%;}
}



div.Name{
	text-align:center;
	font-family: 'Comic Sans MS';
	color: yellow;
}
.Name:hover, .Name:active{
	font-size: 30px;
}

	

div.profession{
	text-align:center;
	font-family: 'Comic Sans MS';
	color: yellow;
}

div.skills{
	text-align:left;
	font-family: 'Comic Sans MS';
}

.personal{
	font-family: 'Impact';
	text-decoration: underline;
	color:black;
	font-size: 25px;
	text-shadow: 1px 1px 2px yellow, 0 0 25px yellow, 0 0 1px yellow;

}

hr{
	display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right:10px;
  border-style: inset;
  border-width: 1px;
}

#locimg{
	float:left;
	width:35px;
	height:35px;
}
#mesimg{
	float:left;
	width:35px;
	height:35px;

}

#imgico{
	float:left;
	width:35px;
	height:35px;
}
#perpro{
	font-family: 'Comic Sans MS' ;
	font-size:30px;

}

#loc{
	font-family: Courier New;
	font-size:30px;
}

#mes{
	font-family: Courier New;
	font-size:20px;
	
}

#img{
	font-family: Courier New;
	font-size:30px;
}

div.left{
	float: left;
	width: 300px;
	background-color: yellow;
	border-radius: 20px;
  	padding-top: -15px;
  	padding-left: 10px;
  	width: 330px;
  	height: 1380px;
  	opacity:0.65; 
}

div.left:hover, div.left:active{
	box-shadow: 10px 10px 3px grey;	
}

div.middle{
	width: auto;
	height: auto;
}

.column{
	float: right;
	padding-right: auto;
	width: 37%;
	font-family: 'Comic Sans MS';
	color:yellow;
	text-shadow: 1px 1px 4px  #232103, 0 0 5px white, 0 0 1px  yellow;

}

.exp{
	font-family: 'Jokerman', serif;
	text-decoration: underline;
	color: #232103;
	background-color: yellow;
	border-radius: 0px;
  	padding-top: -15px;
  	padding-left: 10px;
  	width: 440px;
  	height: 100px;
  	opacity:0.65;
  	font-size: 18px;
}

.skillsName{
	font-family:'Jokerman' ;
	color:yellow;
}
* {box-sizing: border-box}

.container {
  width: auto;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.html {width: 75%; background-color: yellow;}
.css {width: 50%; background-color: yellow}
.prog {width: 45%; background-color: yellow}
.lead {width: 80%; background-color: yellow}
}